DOC_SERVER=Server domain name or IP address of the Documenso Server.
DOC_CREATE=API endpoint for creating a new document.
DOC_RECIPIENT=API endpoint for adding a single recipient to a document.
DOC_RECIPIENT_MANY=API endpoint for adding multiple recipients to a document.
DOC_FIELD=API endpoint for adding a single signature field to a document.
DOC_FIELD_MANY=	API endpoint for adding multiple signature fields to a document.
DOC_DISTRIBUTE=API endpoint for uploading and distributing the document after all recipients and signature fields have been configured.
